<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> I Definitley need to write something here DO NOT FORGET!</p>
    <p></p>
    <p></p>
    <p>Update: <%= date %></p> 
    <a href="./skills">Current-Skills</a>
  </body>
</html>